/* test for left nav */

.md-sidebar--secondary {
  order: 0;
}

p  {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px;
  font-size: 14px;
  font-family: roboto;
  }

h2  {
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 0px;
  font-size: 22px;
  font-family: roboto;
  }

.rst-content h2 {
    margin-bottom: 5px;
  }




/* set vertical spacing in left nav */

li {
  margin-top: -5px;
  margin-bottom: -7px;
  padding: 0px;
  }

p.caption {
  margin-top: -10px;
  margin-bottom: -10px;
  padding: 0px;
  }

.wy-side-nav-search {
    padding-top: 0px;
    padding-right: .809em;
    padding-bottom: 5px;
    padding-left: .809em;
    margin-top: 0;
    margin-bottom: 5px;
}

.wy-side-nav-search .wy-dropdown>a, .wy-side-nav-search>a {
    font-size: 80%;
    font-weight: 700;
    padding: 4px 6px;
    margin-bottom: 0em;
}


/* below are two descendent selectors */
.wy-menu-vertical header, .wy-menu-vertical p.caption {
    height: 25px;
    line-height: 30px;
    padding: 0 1.618em;
    margin: 2px 0 3px;
    display: block;
}

/* icon sizing in the left menu */
.icon-home {
    width: 100px;
    height: auto;
}

/* main document page: ensures pages fit to the available width and height */
.wy-nav-content {
    min-width: 100%;
    min-height: 100vh;
}

/* Accessibility: Artifex color for main document links */
.wy-nav-content a {
    color: #007aff;
}

/* Artifex blue color for background elements. Official EIS light blue is #00a7e1*/
.wy-side-nav-search, .wy-nav-top {
    background-color: #00a7e1;
}

/* Accessibility: ensures that the version number is readable against the background color */
.wy-side-nav-search>div.version {
    color:hsla(0,0%,100%,1);
}

.htmltag {
    padding: 2px 5px;
    background-color: #fbff68;
    border-radius: 4px;
    border: 1px solid #222;
}

/* Dark mode colors */
@media (prefers-color-scheme: dark) {

    /* main document page */
    .wy-nav-content {
        background-color: #000;
        color: #fff;
    }

    .htmltag {
        color: #000;
    }

    th {
        color: #fff;
    }

    td {
        background-color: #000 !important;
    }

    tr:nth-child(2n-1) td{
        background-color: #333 !important;
    }

    pre {
        color: #000;
    }

    .admonition {
        color: #000;
    }

}
